@keyframes spin {
    0% { 
        transform: rotate(0deg); 
    }
    100% { 
        transform: rotate(360deg); 
    }
}
h1,h2{
    transition: transform 0.3s ease-in-out;
}
h1:hover,h2:hover{
    transform: scale(1.03); 
}
#buttons{
    display: flex;
    grid-template-columns: 1fr 1fr ;
    gap: 35px;
}
body{
    border-collapse: collapse;
    font-family: 'Nunito',sans-serif;
    background-color: cornflowerblue;
    height: 100vh; 
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    background-image:
    linear-gradient(
        rgba(100, 149, 237, 0.7),
        rgba(100, 149, 237, 0.7)  
    ),
    url('images/SfondoCredenziali.jpg');
    background-size: cover;
}
#logIn_contenitore,#sign_In{
    
    background-color: rgb(206, 223, 253) ;
    width: 40%;
    display: none;
    flex-direction: column; 
    align-items: flex-start;
    border-radius: 20px;
    padding:10px;
    align-items: center;
}
input{
    text-align: center;
    height: 40px;
    font-size: medium;
    margin:10px;
    border-radius: 20px;
    border-color: rgba(0, 26, 255, 0.575);
    transition: transform 0.3s ease-in-out;
}
input:hover{
    transform: scale(1.03); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
button{
    background-color: rgb(96, 121, 190);
    border-color: rgba(0, 26, 255, 0.575);;
    border-radius: 20px;
    font-size: medium;
    padding: 10px;
    font-family: 'Nunito',sans-serif;
    color: whitesmoke;
    transition: transform 0.3s ease-in-out;
}
button:hover{
    transform: scale(1.03); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 600px) {
    
    div {
        width: 90%; 
        padding: 20px 15px;
    }
    
    input {
        width: 90%; 
        margin: 10px auto; 
    }
    button {
        width: 90%; 
        padding: 15px 10px;
        font-size: 1.1em; 
        margin-top: 20px; 
    }
}

#fiscalCode_Access,#password_Access{
    margin-left: auto;
    margin-right: auto;
}
#sign_In{
    background-color: rgb(206, 223, 253) ;
    width: 40%;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    border-radius: 20px;
    padding:10px;
    align-items: center;
    
}
#griglia_Armadietti{
    display: none;
}
