
/* Il contenitore che divide Menu e Contenuto */
#main-layout {
    display: flex;
    min-height: 100vh;
}


#locker-content {
    flex-grow: 1;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.85) ;
    border-radius: 5%;
}


.grid-5x5 {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 5 colonne */
    max-width: 300px; 
    
}

.locker-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.locker-img {
    width: 100%;
    height: auto;
    display: block;
}

.locker-code {
    position: absolute;
    color: black;
    font-weight: bold;
    z-index: 2;
}

#formPosizione{
    display: block !important;
    background-color:rgb(96, 121, 190);
    margin-top: 10px;
    border-radius:  20px;
    font-size: medium;
    padding: 10px;
    border: 2px solid rgba(0, 26, 255, 0.575);
    color: whitesmoke;
    width: fit-content;
}

/* Effetto per i locker occupati */
.occupato {
    opacity: 0.5;
    filter: grayscale(1);
    cursor: not-allowed;
}

.locker-box.libero {
    cursor: pointer;
}

.locker-box.libero:hover {
    filter: brightness(1.1); 
    transform: scale(1.02);
    
}
